<app-loading *ngIf="isLoading" class="mt-5"></app-loading>

<div class="card" *ngIf="!isLoading">
  <app-pokemon-carousel [pokemonSprites]="pokemon?.sprites"></app-pokemon-carousel>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="card-title mb-0 text-capitalize">{{pokemon.name}}</h5>
      <div class="d-flex">
        <app-pokemon-type *ngFor="let item of pokemon.types; trackBy: trackBy"
                          class="ml-2"
                          [type]="item.type.name"
        ></app-pokemon-type>
      </div>
    </div>
    <app-pokemon-stats class="mb-3" [pokemonStats]="pokemon?.stats"></app-pokemon-stats>
    <div class="d-flex justify-content-between">
      <a class="btn btn-outline-primary btn-sm" [routerLink]="['/pokemon', url]">
        <span class="mx-3">Read More</span>
      </a>
      <a class="btn btn-sm ml-3"
         [ngClass]="favorite ? 'btn-danger' : 'btn-outline-danger'"
         (click)="clickFavorite()">
        <i class="fa fa-heart-o mx-2"></i>
      </a>
    </div>
  </div>
</div>
