
$c_0: #000000;
$c_1: #353540;

:host {

  .card-img {
    position: relative;
    transition: transform 0.35s;

    i {
      opacity: 0;
    }

    &:hover {
      transform: scale(1.1);

      i {
        font-size: 2rem;
        font-weight: 900;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
      }
    }
  }
}
