@if (pokemon?.id) {
<div class="card h-100">
  <div
    class="d-flex position-absolute justify-content-between w-100 p-4"
    style="z-index: 999"
  >
    <a
      style="z-index: 9999"
      awesomeTooltip="Read more"
      class="btn btn-outline-primary btn-sm"
      [routerLink]="['/pokemon', this.pokemon.name]"
    >
      <i class="fa fa-info-circle mt-1 mx-2"></i>
    </a>
    <app-pokemon-favorite-button
      style="z-index: 9999"
      [pokemon]="pokemon"
      [myFavorites]="myFavorites"
      [isFavorite]="
        !!(myFavorites | arrayFilter: ['name', pokemon.name])?.length
      "
    ></app-pokemon-favorite-button>
  </div>
  <app-pokemon-carousel
    [pokemonSprites]="pokemon?.sprites"
  ></app-pokemon-carousel>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="card-title mb-0 text-capitalize">{{ pokemon.name }}</h5>
      <div class="d-flex">
        @for (item of pokemon.types; track item.type?.name) {
        <app-pokemon-type
          class="ms-2"
          [type]="item.type.name"
        ></app-pokemon-type>
        }
      </div>
    </div>
    <app-pokemon-stats
      class="mb-3"
      [pokemonStats]="pokemon?.stats"
    ></app-pokemon-stats>
  </div>
</div>
} @else {
<app-loading class="d-block h-100 pt-5"></app-loading>
}
