<section class="my-pokemon"  *ngIf="pokemon$ | async as pokemon else loading">
  <section class="pokemon-details mt-0">
    <img class="poster-background" [src]="pokemon.sprites.front_default" [alt]="pokemon?.name" />
    <div class="container mt-0 pt-0">
      <article class="d-flex flex-column card-details bg-transparent mt-0">
        <button
          routerLink="/"
          type="button"
          class="btn btn-outline-light text-uppercase text-white d-block font-weight-bold me-auto p-2 px-3 mt-5"
        >
          <i
            class="fa fa-arrow-left font-weight-bold text-white"
            aria-hidden="true"
          ></i>
          back
        </button>

        <app-pokemon-more-details
          [pokemon]="pokemon"
          [myFavorites]="myFavorites$ | async"
          class="row my-5"
        ></app-pokemon-more-details>
      </article>

      <section class="characters text-white">
        <h3 class="font-weight-bold text-left text-capitalize my-2">
          characters
        </h3>
      </section>
    </div>
  </section>
</section>

<ng-template #loading>
  <app-loading class="d-block h-100 pt-5"></app-loading>
</ng-template>
