.card {
  position: relative;
  .details-value {
    text-transform: capitalize;

    margin-bottom: 3px;

    .details-key {
      font-weight: 900;
    }
    font-weight: 600;
  }
  .more-btn {
    max-width: 100px;
  }
  .edit-btn {
    background-color: #7b61ff;
  }
  .remove-btn {
    background-color: rgba(192, 189, 189, 0.767);
  }
  .fa-bars {
    position: relative;
    top: -17px;
    left: -34px;
    font-size: 1.4rem;
    width: fit-content;
    cursor: all-scroll;
  }
  .btn {
    padding-left: 0;
    padding-right: 0;
  }
}
