<ng-content></ng-content>

<article
  [ngClass]="page === 'favorites' ? 'py-0 ' : ''"
  class="bg-light mx-auto p-3 card my-4"
>
  <i
    *ngIf="page === 'favorites'"
    class="fa fa-bars bg-light p-0 m-0 text-secondary"
  ></i>

  <div
    *ngIf="isInit"
    class="mx-auto d-block spinner-grow spinner-grow-lg mt-2 ml-3"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="!isInit" class="row row-cols-1 row-cols-md-2">
    <div class="col d-flex">
      <img
        [src]="pokemon.cover"
        [alt]="pokemon.title"
        width="150px"
        height="230px"
        class="d-block my-3"
      />

      <article class="d-flex flex-column justify-content-between ml-5 my-2">
        <div class="d-flex flex-column justify-content-start mt-2">
          <p class="details-value">
            <span class="details-key">title : </span>
            {{ pokemon.title | titlecase }}
          </p>
          <p class="details-value">
            <span class="details-key">format : </span>
            {{ pokemon.format | titlecase }}
          </p>
          <p class="details-value">
            <span class="details-key">pages : </span>
            {{ pokemon.pages ? pokemon.pages : 0 }}
          </p>
          <p class="details-value">
            <span class="details-key">condition : </span>
            {{ pokemon.condition | titlecase }}
          </p>
        </div>
        <!-- * button info -->
        <button
          [routerLink]="['/comics', pokemon.id]"
          [queryParams]="{ creator: false }"
          type="button"
          class="more-btn btn btn-outline-secondary btn-sm text-uppercase py-1 w-100 font-weight-bold mb-2"
        >
          more info
        </button>
      </article>
    </div>

    <div
      class="col d-flex flex-column justify-content-between mt-3 mx-auto mx-sm-0 align-items-end"
    >
      <h4 class="font-weight-bold mr-3">
        <span class="lead text-capitalize mr-2">price</span>
        {{ pokemon.price | currency: "USD":"symbol" }}
      </h4>

      <div class="d-flex flex-column justify-content-around w-50 mt-5">
        <app-favorite-buy
          (onFavClicked)="onFavClicked($event)"
          [page]="page"
          class="w-100"
          [pokemon]="pokemon"
        >
          <app-toast
            (onCloseToast)="onCloseToast()"
            *ngIf="isToast"
            [pokemon]="pokemon"
            [message]="'this pokemon has been added to favorites'"
          ></app-toast>
        </app-favorite-buy>
      </div>

      <div class="d-flex justify-content-end mt-0 pt-0">
        <h6 class="d-block mr-3 text-capitalize font-weight-normal ml-auto">
          <span class="mr-2 font-weight-bold">created at </span>
          {{ pokemon.date | date: "MM/dd/yyyy" }}
        </h6>
        <h6
          class="d-block mr-3 text-capitalize font-weight-normal"
        >
          <span class="mr-2 font-weight-bold">by</span>
          {{ pokemon.owner | titlecase }}
        </h6>
      </div>
    </div>
  </div>
</article>
