.filter-bar {
  .form-group {
    margin: 0 5px;

    .form-control {
      border-radius: 0 !important;
      outline: 0 !important;
      border: 0 !important;
      cursor: pointer;
    }
  }
  .form-search {
    position: relative;
    background-color: #fff !important;
    outline: 0;
    border: 0;
    height: 38px;
    .search-input {
      outline: 0;
      border: 0;
      background-color: transparent;
    }
    button[type="submit"] {
      height: 0;
      width: 0;
      background-color: #fff !important;
    }
    i {
      position: absolute;
      margin-left: 5px;
      height: 25px;
      display: flex;
      align-items: center;
      top: 7px;
      right: 13px;
    }
  }
  justify-content: space-evenly;

  .char-wrapper {
    position: relative;
    max-width: 300px;
    i {
      position: absolute;
      margin-left: 5px;
      height: 25px;
      display: flex;
      align-items: center;
      top: 15px;
      right: 8px;
      color: grey;
      font-size: 0.7rem;
    }
    .list-chars {
      cursor: pointer;
      position: absolute;
      min-width: 400px;
      max-height: 400px;
      overflow: auto;
      top: 32;
      left: 0;
      background-color: #fff;
      z-index: 100;
    }
  }
}
