
:host {
  display: block;

  .label {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: -1px;

    &.stats {
      text-align: end;
      width: 70px;
    }

    &.number {
      font-size: 1rem;
    }
  }

  .hp {
    background-color: #ea868f;
  }

  .attack {
    background-color: #feb272;
  }

  .defense {
    background-color: #ffda6a;
  }

  .special-attack {
    background-color: #6ea8fe;
  }

  .special-defense {
    background-color: #75b798;
  }

  .speed {
    background-color: #e685b5;
  }
}
