<section class="my-comics">
  <app-no-data *ngIf="!pokemon && !isLoading && !isError"></app-no-data>

  <app-error *ngIf="isError" [message]="isError" class="my-5"></app-error>

  <section *ngIf="!isError && pokemon" class="comic-details mt-0">
    <img class="poster-background" [src]="pokemon.sprites.front_default" [alt]="pokemon?.name" />
    <div class="container mt-0 pt-0">
      <article class="d-flex flex-column card-details bg-transparent mt-0">
        <button
          routerLink="/"
          type="button"
          class="btn btn-outline-light text-uppercase text-white d-block font-weight-bold mr-auto p-2 px-3 mt-5"
        >
          <i
            class="fa fa-arrow-left font-weight-bold text-white"
            aria-hidden="true"
          ></i>
          back
        </button>

        <app-loading
          *ngIf="isLoading && !isError"
          class="d-block pt-5"
        ></app-loading>

        <app-pokemon-more-details
          [pokemon]="pokemon"
          *ngIf="!isLoading"
          class="row my-5"
        ></app-pokemon-more-details>
      </article>

      <section *ngIf="!isLoading" class="characters text-white">
        <h3 class="font-weight-bold text-left text-capitalize my-2">
          characters
        </h3>
      </section>
    </div>
  </section>
</section>
