.fa-facebook-official {
  margin: 0 20px;
  padding-bottom: 8px;
}
.fa {
  font-size: 2.2rem;
}
.footer-left {
  position: relative;
  .logo-footer {
    position: absolute;
    width: 65px;
    height: 20px;
    top: 37px;
    left: 13px;
  }
}
