.navbar {
  background-color: rgba($color: #fff, $alpha: 0.9);
  .navbar-nav {
    .nav-item {
      margin: 0 15px;
      .nav-link {
        text-transform: uppercase;
        color: black;
        font-weight: 700;
        font-size: 0.9rem;
      }
      .btn {
        padding: 7px 13px;
      }
      .username {
        font-size: 0.9rem;
        font-weight: normal;
      }
    }
  }
}
//! router link active class
.active {
  color: rgb(238, 0, 0) !important;
}
