.modal-dialog {
  color: black;
  max-width: 700px;
  .modal-content {
    max-width: 700px;
    .search-box {
      position: relative;
      i {
        position: absolute;
        margin-left: 5px;
        height: 25px;
        display: flex;
        align-items: center;
        top: 6px;
        right: 11px;
        color: grey;
        font-size: 1.2rem;
      }
      .list-Searchs {
        cursor: pointer;
        position: absolute;
        width: 100%;
        max-height: 461px;
        top: 43px;
        left: 0;
        overflow: auto;
        background-color: #fff;

        p {
          span {
            font-weight: bold;
            text-transform: capitalize;
          }
        }
      }
    }
    form {
      .form-group {
        margin: 15px 0;
      }
      input,
      textarea,
      select {
        border: 0;
        outline: 0;
      }
      [type="submit"] {
        background-color: rgb(223, 29, 29);
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        opacity: 1;
        padding: 10px;
        margin: 20px 0 25px 0;
      }
      textarea {
        resize: none;
      }
    }
  }
}
