<section class="mt-2 my-5 favorites" *ngIf="myFavorites$ | async as pokemons else loading">
  <div class="container">
    <app-no-data *ngIf="pokemons.length === 0" [message]="'No pokemon yet in your Favorites'"></app-no-data>

    <div class="row">
      <app-pokemon-card
        class="col-lg-4 mb-4"
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        [page]="'favorite'"
        [favorite]="true"
        (clickOnFavorite)="removeFromMyFavorites($event)"
      ></app-pokemon-card>
    </div>
  </div>
</section>

<ng-template #loading>
  <app-loading
    class="d-block h-100 pt-5"
  ></app-loading>
</ng-template>
