<footer class="footer bg-white py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <!-- logo / copyright -->
      <div
        class="footer-left col d-flex justify-content-md-start justify-content-center align-items-center"
      >
        <img
          src="../../../assets/images/Logo.png"
          alt="logo-footer"
          height="50px"
          class="logo"
        />
        <p class="text-black ms-4 text-capitalize">
          copyright 2023 fun with pokeapi, LLC.
        </p>
      </div>
      <!-- social icons -->
      <div class="col">
        <section
          class="d-flex justify-content-md-end justify-content-center text-secondary align-items-center"
        >
          <i class="fa fa-twitter-square h1" aria-hidden="true"></i>
          <i class="fa fa-facebook-official h1" aria-hidden="true"></i>
          <i class="fa fa-instagram h1" aria-hidden="true"></i>

          <div class="ms-5 mb-1">
            <a
              class="github-button"
              href="https://github.com/viniciusschuelter"
              data-color-scheme="no-preference: dark; light: dark; dark: dark;"
              data-size="large"
              aria-label="Follow @viniciusschuelter on GitHub"
            >
              Follow
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</footer>
