@if (isError) {
<app-error [message]="isError"></app-error>
}

<section class="d-flex justify-content-center">
  <button
    (click)="onGoogleSignin()"
    [ngClass]="auth === 'login' ? 'rounded-button' : ''"
    type="button"
    class="btn google-btn text-capitalize me-3 py-1 px-4"
  >
    <i class="fa fa-google me-2" aria-hidden="true"></i>
    google
  </button>

  <button
    (click)="onFacebookSignin()"
    [ngClass]="auth === 'login' ? 'rounded-button' : ''"
    type="button"
    class="btn facebook-btn text-capitalize ms-3 me-3 py-1 px-4"
  >
    <i class="fa fa-facebook me-2" aria-hidden="true"></i>
    facebook
  </button>
</section>
