<section
  class="homePage"
  *ngIf="pokemonsMini$ | async as pokemonsMini; else loading"
>
  <div class="container my-3">
    <app-filters-bar (searchChange)="searchTerm = $event"></app-filters-bar>

    <app-no-data *ngIf="!pokemonsMini.length"></app-no-data>

    <div class="row" *ngIf="pokemons$ | async as pokemons; else loading">
      <div
        class="col-lg-4 mb-4"
        [style.min-height]="700"
        *ngFor="let pokemon of pokemonsMini | filter: 'name':searchTerm"
        lazyRenderer
        [intersectionDebounce]="0"
        (visibilityChange)="onVisibilityChanged(pokemon.name, $event)"
      >
        <app-pokemon-card
          *ngIf="visibilityStatus[pokemon.name]"
          [pokemon]="pokemons[pokemon.name] || pokemon"
          [myFavorites]="myFavorites$ | async"
        ></app-pokemon-card>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <app-loading class="d-block h-100 pt-5"></app-loading>
</ng-template>
