<section
  class="homePage"
  *ngIf="pokemonsMini$ | async as pokemonsMini; else loading"
>
  <div class="container my-3">
    <app-filters-bar
      (searchChange)="$searchTerm.next($event)"
    ></app-filters-bar>

    <app-no-data *ngIf="!pokemonsMini.length"></app-no-data>

    <ng-container *ngIf="pokemons$ | async as pokemons; else loading">
      <div
        virtualScroller
        [items]="pokemonsMini$"
        (itemsRendered)="signalViewport = $event"
        *ngIf="!!pokemonsMini"
        class="row"
      >
        <div
          #itemsViewport
          class="col-lg-4 mb-4"
          [style.min-height]="600"
          *ngFor="let pokemon of pokemonsMini; let i = index"
        >
          <app-pokemon-card
            *ngIf="signalViewport()[i]"
            [pokemon]="pokemons[pokemon.name] || pokemon"
            [myFavorites]="myFavorites$ | async"
          ></app-pokemon-card>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<ng-template #loading>
  <app-loading class="d-block h-100 pt-5"></app-loading>
</ng-template>
