<ng-content></ng-content>
<div *ngIf="!isLoading" class="row my-5 comic-card">

  <div class="col-12 col-lg-3 mb-5 mb-lg-0">
    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      width="220px"
      height="330px"
      class="d-block mx-auto mx-md-0"
    />
  </div>

  <div
    class="col-12 col-lg-6 d-flex flex-column justify-content-between mr-auto align-items-start"
  >
    <h4>{{ pokemon.name | titlecase }}</h4>
    <div class="d-flex justify-content-start w-100 align-items-start mt-2">
      <article class="data-card-infos ml-0">
        <h6>Pages</h6>
        <p>{{ pokemon.pageCount ? pokemon.pageCount : 0 }}</p>
      </article>
      <article class="data-card-infos">
        <h6>Format</h6>
        <p>{{ pokemon.format }}</p>
      </article>
      <article class="data-card-infos">
        <h6>Condition</h6>
        <p>{{ pokemon.condition }}</p>
      </article>
    </div>
    <article>
      <h6 class="">Description</h6>
      <p class="text-withe font-weight-light">
        {{ pokemon.description ? pokemon.description : "No description yet " }}
      </p>
    </article>
    <div class="d-flex justify-content-end mt-1">
      <p class="d-block mr-3 text-capitalize">
        <span class="mr-2 font-weight-bold">created at</span>
        {{ pokemon.date | date: "MM/dd/yyyy" }}
      </p>
      <p *ngIf="comic.owner" class="d-block mr-3 text-capitalize">
        <span class="mr-2 font-weight-bold">by</span>
        {{ pokemon.owner | titlecase }}
      </p>
    </div>
  </div>

  <div
    class="col-12 col-lg-3 d-flex flex-column justify-content-start ml-auto mx-sm-0"
  >
    <h4 class="font-weight-bold text-white text-left ml-auto mb-3">
      <span class="lead text-capitalize mr-2">price</span>
      {{ pokemon.price | currency: "USD":"symbol" }}
    </h4>

    <a class="btn btn-outline-danger btn-sm ml-3" (click)="clickFavorite()">
      <i class="fa fa-heart-o mx-2"></i>
    </a>
  </div>
</div>
