<section class="mt-2 my-5 favorites">
  <div class="container">

    <app-error *ngIf="isError" [message]="isError"></app-error>

    <app-loading
      *ngIf="isLoading && !isError"
      class="d-block pt-5"
    ></app-loading>

    <app-no-data
      [message]="'no pokemon yet in your Favorites '"
      *ngIf="pokemons.length == 0 && !isLoading && !isError"
    ></app-no-data>

    <div class="row" cdkDropList (cdkDropListDropped)="drop($event)">

      <app-pokemon-card
        class="col-lg-4 mb-4"
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemon"
        [page]="'favorite'"
        [favorite]="(myFavorites| arrayFilter: ['name', pokemon.name]).length"
        (clickOnFavorite)="addToMyFavorites($event)"
      >
        <div class="placeholder-drop invisible display-1" *cdkDragPlaceholder>
          droped element placeholder
        </div>
      </app-pokemon-card>
    </div>
  </div>
</section>
