<section class="mt-2 my-5 favorites">
  <div class="container">

    <app-error *ngIf="isError" [message]="isError"></app-error>

    <app-loading
      *ngIf="isLoading && !isError"
      class="d-block pt-5"
    ></app-loading>

    <app-no-data
      [message]="'no pokemon yet in your Favorites '"
      *ngIf="pokemons.length == 0 && !isLoading && !isError"
    ></app-no-data>

    <div class="w-100" cdkDropList (cdkDropListDropped)="drop($event)">
      <app-pokemon-card
        [ngStyle]="{ cursor: 'all-scroll' }"
        cdkDrag
        class="py-5 w-100"
        *ngFor="let pokemon of pokemons"
        [pokemon]="pokemons"
        [page]="'favorites'"
      >
        <div class="placeholder-drop invisible display-1" *cdkDragPlaceholder>
          droped element placeholder
        </div>
      </app-pokemon-card>
    </div>
  </div>
</section>
