$theme-colors: (
  "native": #000,
  "accent": #dc042b,
);

@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/cdk/overlay-prebuilt.css";

// ! initialization
body {
  background-color: #eee;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;

  button,
  i,
  img {
    cursor: pointer;
  }
  button {
    border-radius: 0 !important;
    outline: 0;
    border: 0;
  }
}


//@include media-breakpoint-down(md) {
//  .cdk-overlay-container {
//    .cdk-overlay-pane {
//      > ng-component {
//        height: vh(100);
//      }
//    }
//  }
//}
